.login-container{
  height: 100vh;
  display: table;
  width: 100%;
  .login-content{
    display: table-cell;
    vertical-align: middle;
  }
  .login-btn{
    width: 100%;
    background-color: #164081;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    height: 3rem;
    margin-top: 1rem;

  }
}

