<div class="footer-container">
  <div class="footer-contents">
    <div class="image-block mr-4">
      <img src="../../../assets/images/logo.png" width="200px" alt="" />
    </div>
    <div class="container-block">
      <h5 class="title">About</h5>
      <ul class="container-list">
        <li><a>Our Promise</a></li>
        <li><a>Blog</a></li>
        <li><a>Terms and Policy</a></li>
        <li><a>Careers</a></li>
      </ul>
    </div>
    <div class="container-block">
      <h5 class="title">More</h5>
      <ul class="container-list">
        <li><a>Gift a skill</a></li>
        <li><a>Contact</a></li>
        <li><a>Gift Cards</a></li>
        <li><a>FAQ</a></li>
      </ul>
    </div>
    <div class="container-block">
      <h5 class="title">Our Commmunity</h5>
      <div class="icon-contents">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
    </div>
  </div>
</div>
